
 .filter-page{
  width:100vw;
}
.side{
  display:flex;
  flex-direction: row;
  width:fit-content;
  height:92.5vh;
  background: rgb(222, 60, 93);
}
.wrap{
  display:flex;
  flex-direction: column;
}
.section-div{
  display:flex;
  background-color: rgb(222, 60, 93);
  justify-content: space-between;
}
.section-div h3{
  margin-left:200px;
  padding:7px;
}
.profile-div p{
  margin:10px;
}
.neomorph-container{
  padding:10px;
  box-shadow: 5px 5px 10px 0px #ddd;
  background: #fff;
  border-radius: 5px;
  font-family: sans-serif;
}
.filter-content{
  display:grid;
  grid-template-columns: 400px 400px;
  margin:auto;
  justify-content: center;
  width:80vw;
  margin-top:80px;
}
.filter1{
  margin-right:43px;
}
.filter1 button{
  margin:30px 0px 0px 0px;
}
.clg-image{
  display: flex;
  flex-direction: row;
}
.clg-image img{
  width:2vw;
  height:3vh;
  margin-left:10px;
}
.neomorph-title {
  font-size: 19px;

  color: #333;
  margin-top: 20px;
}

.neomorph-inputs {
  padding: 10px 0px;
  margin-bottom: 10px;
}

.neomorph-input {
  border: 1px solid #ddd;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 3px 0px #ddd;
  font-size: 18px;
}

.neomorph-filter {
  padding: 10px 0px;
  width: 18vw;
  text-align: left;
  margin-left:1px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.neomorph-filter  input{
  margin-bottom:10px;
  font-size: 17px;
}
.neomorph-filter-button {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 2px 3px 0px #ddd;
  border-radius: 5px;
  cursor: pointer;
}
.filter-checkbox{
  background: white;
  width:10vw;
  border:1px solid #ddd;
  box-shadow: 0px 2px 3px 0px #ddd;
 } 
 .reg-box{
  width:70px;
  margin-left:10px;
}
.reg-box input{
  margin-right:5px;
}
.filter-checkbox{
  margin-bottom: 10px;
}
.sidebar-container{
  display:grid;
  grid-template-columns: 219px 400px;
  position: fixed;
      top: 0;
      left: 0;
      width: 100%;
}
.sidebar{
  background: rgb(222, 60, 93);
  align-items: center;
  transition: all 0.5s ease;
  position:relative;
  width: fit-content;
  height:100vh; 
}
.profile p{
  font-size:23px;
  color: rgb(206, 240, 253);
  padding:10px;
}
.profile{
  text-align: center;
}
.profile-header{
  margin-top:20px;
}
.sidebar ul li a{
  display: block;
  padding:10px 8px;
  border-bottom: 1px solid rgb(243, 66, 101);;
  color: rgb(241, 237, 237);
  font-size: 20px;
  position: relative;
  text-decoration: none;;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
  color: rgb(243, 66, 101);;

  background:white;
  border-right: 2px solid rgb(243, 66, 101);
}

 .sidebar ul li a:hover .icon,
 .sidebar ul li a.active .icon{
  color: rgb(243, 66, 101);;
}

 .sidebar ul li a:hover:before,
 .sidebar ul li a.active:before{
  display: block;
}
.sidebar ul{
  margin-top:50px;
}
.admin-logout{
  font-size:1.5rem;
  color:#000;
  text-decoration: none;

}
.admin-logout:hover{
  text-decoration: none;
  color:#ddd;
}
.top_navbar li{
  margin:auto;
  margin-right:100px;
}
