.home-body{
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOGOJ9YZauHIslrVpckhDyq8Frh2hxeMhiRA&usqp=CAU"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height:100vh; */
    }
    .home-content{
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        width:40vw;
        margin:auto;
        /* height:85%; */
        margin-top:10px;
        box-shadow: 0px 0px 10px #ccc;
        border-radius:10px;
      }
      .theme-dark .home-content{
        background-color: #3c3e50;
      }
      .heading{
        padding-top:20px;
        padding-bottom:10px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
      }
      .theme-dark .heading{
        color:white;
      }
      .home-box{
        border:1px solid #a4a4a9;
        width:fit-content;
        margin-left:75px;
        border-radius:8px;
        /* padding-left:30px; */
        /* border-left: rgb(6,196,114);  */
        border-left: 7px solid rgb(137, 204, 179) ;
        /* 7px solid rgb(220, 79, 107); */
      }
      .home-content h3{
        margin-left:10px;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 550;
      }
      .home-instruction{
        padding:10px 30px 0px 30px;
      }
      .home-instruction h4{
        /* margin:5px; */
        font-size: 22px;
        font-weight: 550;
        color: rgba(56, 53, 53, 0.6);
      }
      .theme-dark .home-instruction h4{
        color:white;
      }
      .home-instruction ul li{
        font-size:1.1em;
      }
      .home-content .btn-success{
        width:25%;
        background: rgb(6,196,114);
        background: linear-gradient(90deg, rgba(6,196,114,1) 0%, rgba(0,212,255,1) 100%);
        cursor:pointer;
        font-size: 20px;
        /* height:25%; */
        margin: auto;
        margin-bottom: 40px;
        border-radius: 10px;
        border:none;
      }
      .logout{
        border:none;
        outline:none;
        margin-bottom:9px;
      }
      .logout:hover{
        border:none;
        outline:none;
        background: transparent;
      }


      .home-instruction  ul li{
        font-size: 18px;
        list-style-type: none;
        display: grid;
        grid-template-columns: 30px 1fr;
        /* padding-bottom:10px; */
      }
      .home-instruction ul ::before {
        content: " ";
        border-right: 3px solid #33a09a;
        border-top: 3px solid #00ff3c;
        width: 10px;
        height: 10px;
        margin:auto;
        transform: rotate(45deg);
        cursor: pointer;
        display: block;
    }
    .home-div{
      display: flex;
      float:right;
      margin-top:10px;margin-right:20px;
    }
    .home-div button{
      outline:none;
      border:none;
      background: transparent;
    }
    .home-div h3{
      padding-right:20px;
    }
