
body{
  background: rgb(186,222,233);
background: linear-gradient(90deg, rgb(225, 238, 242) 0%, rgb(222, 242, 225) 38%, rgb(212, 239, 216) 98%);
}
.login-container {
  width: 350px;
  height:55vh;
  margin: 130px auto;
  background-color: #e0e5ec;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -10px -10px 20px #fff, 10px 10px 20px #babecc;
  
}
h2 {
  text-align: center;
  margin-top: 0;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #e0e5ec;
  border-radius: 20px;
  box-shadow: inset -5px -5px 10px #fff, inset 5px 5px 10px #babecc;
}
input[type="submit"] {
  background-color: #0099ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babecc;
}
input[type="submit"]:hover {
  background-color: #007acc;
}


